.header {
    position: fixed;
    width:100%;
    z-index: 1;
    height: 88%;
    overflow: hidden;
    left: 0;
    background: linear-gradient(-45deg, #5900b3 33%, transparent 0%), 
    linear-gradient(-45deg, #512DA8 100%, transparent 33%); 
}
.content-wrapper{
    top: 85%;
    min-height: 12%;
    position:absolute;
    z-index: 2;
    width: 100%;
    background:#fff;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; 
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", 
    "Segoe UI Symbol";
    font-size: 1.2em;
    color: #333;
    font-weight: normal;
    min-width: 10px;
    overflow-x: hidden !important;
    background: #fff;
}
.clearfix::after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
}
.m-t-5{
	margin-top: 5px;
}
.m-t-20{
	margin-top: 20px;
}
.p-t-20{
	padding-top: 20px;
}
.m-t-50{
    margin-top: 50px;
}
.title{
    margin-bottom: 40px;
    font-size: 2em;
    color: #ff6600;
}
.btn{
    border-radius: 0 !important;
    transition: all .5s !important;
    color: #f2f2f2 !important;
    background-color: #ff6600 !important;
}
.btn:focus{
    box-shadow: none !important;
}
.btn:hover{
    background-color: #fff !important;
    color: #ff6600 !important;
    border-color: #ff6600 !important;
}
.modtitle{
    font-size: 2em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #ff6600;
    text-align: center;
    margin: 40px 0;
    text-transform: capitalize;
}
select:focus {
    outline: none;
}
option {
  background-color: #f2f2f2;
}
/*Navbar*/
.top-nav {
    background: linear-gradient(-45deg, #5900b3 10%, transparent 0%), 
    linear-gradient(-45deg, #512DA8 100%, transparent 10%); 
}

.top-nav .navbar-dark{
	/*background:url("../images/home_hr.png") transparent;*/
	padding: 20px 0px 20px 0px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.7);
}
.top-nav .nav-item a{
	color: #fff !important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    font-size: 1.1em;
    cursor: pointer;
    transition: all .5s;
}
.nav-item .nav-link .nav-title:after{
	position: absolute;
    content: "";
    height: 18px;
    width: 2px;
    right: 0;
    margin-right: -20px;
    bottom: 0;
}
.nav-item .nav-link .nav-title:after{
	background-color: #fff;
}
.nav-item .nav-link .nav-title{
    position: relative;
}
.top-nav .navbar-dark .nav-item a:hover{
	color: #ff6600 !important;
}

/*footer*/

.main-footer {
    padding-top: 60px;
    margin-top: 0;
    background: linear-gradient(-45deg, #5900b3 33%, transparent 0%), 
    linear-gradient(-45deg, #512DA8 100%, transparent 33%);
}
.main-footer .about .fa{
	font-size: .8em;
	color: #ff6600;
}
.main-footer .social a{
	font-size: 1.2em;
    padding: 10px 5px;
    color: rgba(0,0,0,.7);
    font-weight: 300;
    text-decoration: none;
}
.main-footer ul li {
    list-style: none;
}
.main-footer ul li a {
    font-size: 1.2em;
    padding: 20px 15px;
    color: rgba(255,255,255,.7);
    font-weight: 300;
    text-decoration: none;
}
.main-footer .copyright {
    text-align: center;
    color: rgba(255,255,255,.7);
    font-weight: 300;
    font-size: 1.2em;
    margin: 15px 0 40px 0;
}
.main-footer a:hover{
	color: #ff6600;
}

.points_table_scrollbar{
	overflow-y: scroll;
}

.points_table_scrollbar::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 px rgba(0,0,0,0.9);
	border-radius: 0;
	background-color: #f2f2f2;
}

.points_table_scrollbar::-webkit-scrollbar{
	width: .5%;
	min-width: 2px;
	background-color: #F5F5F5;
}

.points_table_scrollbar::-webkit-scrollbar-thumb{
	border-radius: 0;
	background-color: #999999;
	background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}


/*=============================
    User Side-Nav
=============================*/

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background: linear-gradient(-45deg, #5900b3 33%, transparent 0%), 
  linear-gradient(-45deg, #512DA8 100%, transparent 33%);
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  line-height: 100px;
  display: block;
  text-align: center;
  font-size: 2em;
}
.nav-side-menu .toggle-btn {
  display: none;
  cursor: pointer;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 50px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #ff6600;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #47307c;
  border: none;
  line-height: 38px;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: transparent;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-bottom: .5px solid #47307c;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
  font-size: 1.1em;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 40px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #47307c;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}
@media (max-width: 766px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

/*=============================
  Account-Content
=============================*/

.acc-content{
    position: fixed;
    overflow: hidden;
    right: 0;
    width: 75%;
    height: 100%;
    margin-top: 40px;
}
.acc-content h2{
    padding:0 0 10px 10px;
    font-size: 1.8em;
    color: #ff6600;
    text-align: center;
}
.acc-content .dash-box {
    position: relative;
    background: linear-gradient(-45deg, #5900b3 33%, transparent 0%), 
    linear-gradient(-45deg, #512DA8 100%, transparent 10%);
    border-radius: 0;
    text-align: center;
    margin: 20px 0 50px;
}
.acc-content .dash-box-action {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
}
.acc-content .dash-box-body {
    padding: 50px 20px;
}
.acc-content .dash-box-action > button {
    border: none;
    background: #FFF;
    border-radius: 19px;
    padding: 7px 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    cursor: pointer;
    letter-spacing: .5px;
    color: #003e85;
    box-shadow: 0 3px 5px #d4d4d4;
}
.acc-content .dash-box-action > button:focus{
    outline: none;
}
.acc-content .dash-box-body > .dash-box-title {
    display: block;
    border-bottom: 1px solid #dbdbdb;
    font-size: 1.5em;
    color: #fff;
    font-weight: 400;
    padding-bottom: 15px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.acc-content .dash-box-body > .dash-box-button button {
    background-color: transparent;
    border:0;
    font-size: 1.8em;
    color: rgba(255,255,255,.7);
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    transition: all .2s;
}
.acc-content .dash-box-body > .dash-box-button button:hover{
    color: #ff6600;
}
.acc-content .dash-box-body > .dash-box-button button:focus{
    outline: none;
}
@media (max-width: 766px){
    .acc-content{
        width: 100%!important;
        overflow: hidden !important;
        position: relative;
    }
    .acc-content .count-button .m-t-5{
        margin-top: 5px;
    }
}
.acc-content .box-count{
    padding: 20px 50px;
    box-shadow: 0 3px 5px #d4d4d4;
    width: 95%;
}
.acc-content .count-button button{
    margin: 0 0 10px 0;
    font-size: 1em;
    font-weight: 500;   
    width: 50%;
    color: #fff;
    line-height: 40px;
    cursor: pointer;
    border:none;
    border-radius: 25px;
    text-transform: uppercase;
    background: linear-gradient(-45deg, #5900b3 33%, transparent 0%), 
    linear-gradient(-45deg, #512DA8 100%, transparent 10%);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.acc-content .count-button button:hover{
    box-shadow: 250px 0 0 rgba(0, 0, 0, 0.4) inset;
}
.acc-content .count-button button:focus{
    outline: none;
}

/*================================
   Buy Pay points 
================================*/

.buy-points{
  position: absolute;
  overflow: hidden;
  right: 0;
  width: 75%;
  height: 100%;
  margin-top: 40px;
  margin-top: 50px;
}
.buy-points h3{
  color: #ff6600;
  font-weight: 400;
  margin-bottom: 50px;
}
.buy-points table{
  text-align: justify;  
}
.buy-points tbody tr th:hover{
  background-color: rgba(255,102,0, .3);
}
.buy-points tbody tr td{
  font-weight: bolder;
}
.buy-points tbody tr td:hover{
  background-color: rgba(255,102,0, .3);
}
table button{
  background-color: #ff6600;
}
table button{
  text-decoration: none;
  color: #000;
}
table .btn:focus,
.submit .btn:focus{
  outline: none;
  box-shadow: none;
}

.buy-points p span{
  font-weight: bold;
  color: #ff6600;
  font-size: 20px;
}
.mod-text{
  color: rgba(0,0,0,.5);
}

.modal{
  top: 30%;
}

.custom-control-label::after {
  background: #ff6600;
  border-radius: 0;
}
.custom-control-label:before{
  box-shadow: none !important;
}

.modal-footer {
    display: block !important;
}

.modal-footer button{
  background: none;
  border-radius: 5px;
  border:1px solid #ff6600;
  color: rgba(0,0,0,.7);
}
@media (max-width: 360px){
  .modal-footer button{
    margin-left: -7%;
    margin-top: 5px;
  }
}
@media (max-width: 380px) and (min-width: 361px){
  .modal-footer button{
    margin-left: -6%;
    margin-top: 5px;
  }
}
@media (max-width: 766px){
    .buy-points{
        width: 100%!important;
        overflow: hidden !important;
        position: relative;
    }
}

/*=====================================
   Buy slots
=====================================*/
@media (max-width: 766px){
    .buy-slots{
        width: 100%!important;
        overflow: hidden !important;
        position: relative;
    }
}
.buy-slots{
  position: absolute;
  overflow: auto;
  right: 0;
  width: 75%;
  height: 100%;
  margin-top: 40px;
  margin-top: 50px;
}
.buy-slots h3{
  margin-top: 50px;
  margin-bottom: 20px;
}
.buy-slots span{
  font-size: 20px;
  font-weight: bold;
  color: #ff6600;
}
.buy-slots input{
  border: 1px ridge #ff6600;
  width: 50%;
}
.buy-slots .submit button{
  background-color: #ff6600;
  font-weight: bold;
}
.buy-slots .form-control{
  box-shadow: none !important;
  outline: none;

}

/*============================
  Contact
============================*/

.support .section-space{
    margin: 20px 0 50px 0;
}
.support .modtitle{
    font-size: 2em;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #ff6600;
    text-align: center;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.support .modtitle-text{
    font-size: 1.2rem;
    line-height: .5;
    color: rgba(0, 0, 0, .5);
    font-weight: 100;
}

.modtext button:focus {
    outline: none;
}

.contact-form-area{
  margin-top: 10px;
}
.contact-form-area .form-group input {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: .5px solid rgba(0,0,0,.2);
    box-shadow: none;
    color: #000;
    height: 50px;
    padding: 10px 10px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.contact-form-area .form-group textarea {
    background: rgba(255, 255, 255, 0.1) none repeat;
    border: .1px solid rgba(0,0,0,.2);
    box-shadow: none;
    color: #000;
    border-radius: 0;
    min-height: 180px;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.contact-form-area .form-group input:hover,
.contact-form-area .form-group input:focus,
.contact-form-area .form-group textarea:hover,
.contact-form-area .form-group textarea:focus {
    outline: none;
}

.contact-form-area .form-group .cont-submit {
    background: transparent none repeat scroll 0 0;
    background: #ff6600;
    border: none;
    color: #000;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    width: 100%;
    outline-offset: 0;
    padding: 0 15px;
    margin-top: -15px;
    text-shadow: none;
    text-transform: uppercase;
    cursor: pointer;
}
.contact-form-area .form-group .cont-submit:focus{
    outline: none;
}
.has-icon{
  position: relative;
}
.form-control-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgba(0,0,0,.2);
    padding-right: 10px;
}

/*============================
  Earn-pay-points
=============================*/
@media (max-width: 766px){
  .pay-points{
        width: 100%!important;
        overflow: scroll !important;
    }
    .modtitle{
      margin: 0 0;
  }
}
.pay-points{
  position: fixed;
  overflow: hidden;
  right: 0;
  width: 75%;
  height: 80%;
}
.download{
  border: .5px solid rgba(0,0,0,.2);
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
}
.download h6{
  text-align: justify;
  color: #ff6600;
}
.download p{
  font-size: 20px;
  text-align: left;
}
.download span{
  font-size: 2em;
  font-weight: bold;
  color: #ff6600;
}

.download button{
  width: 50%
  word-wrap: break-word;
  background-color: #ff6600;
  font-weight: bold;
  color: rgb(0,0,0);
}

.slot-button a{
  font-weight: bold;
  padding: 10px 15px;
  color: #000;
  background-color: #ff6600;
  text-decoration: none!important;
  margin-bottom: 25px;
  border: 1px transparent #ff6600;
  border-radius: 5px;
}
.slot-button p{
  margin-top: 10px;
}

.slots{
  text-align: center;
  border: .5px solid rgba(0,0,0,.2);
  padding: 10px;
}
.slots h6{
  font-size: 20px;
}
.slots p{
  font-size: 12px;
}
.slots span{
  font-size: 25px;
  color: #ff6600;
}
.slots button a{
  text-decoration: none;
  color: #000;
}
.slots button{
  background-color: #ff6600;
  text-decoration: none;
  font-weight: bold;
}

.browser{
  text-align: center;
  border: .5px solid rgba(0,0,0,.2);
  padding: 10px;
  margin-top: 20px;
}
.browser h6{
  font-size: 20px;
}

/*============================
  Final Payout 
============================*/
@media (max-width: 766px){
  .final-payout{
        width: 100%!important;
        overflow: scroll !important;
    }
}
.final-payout{
  position: fixed;
  overflow: hidden;
  right: 0;
  width: 75%;
  height: 90%;
}
.final-payout .payout-form{
  padding: 30px;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #fff1e8;
}
.final-payout input{
  border: .5px solid #ff6600;
  margin-bottom: 20px;
  border-radius: 0;
}
.final-payout button{
  background-color: #ff6600;
  font-weight: bold;
}

/*=============================
  Payment
=============================*/

@media (max-width: 767px){
  .payment .row-fluid{
    width: 90% !important;
  }
}
@media (max-width: 766px){
  .payment{
    width: 100% !important;
    overflow: scroll;
  }
}
.payment{
  position: fixed;
  overflow: auto;
  right: 0;
  width: 75%;
  height: 100%;
}
.payment .row-fluid{
  width: 60%;
  margin: auto;
}
.payment label{
  margin-top: 20px;
}
.payment input{
  border-radius: 0;
  width: 100%;
  padding: 10px;
}
.payment .checkbox input{
  width: 20px;
}
.payment select{
  border: .5px solid #ff6600;
  border-radius: 0;
}
.payment button{
  background-color: #ff6600;
  font-weight: bold;
}

/*==========================
  Referral 
==========================*/
.referral{
  position: fixed;
  overflow: auto;
  right: 0;
  width: 75%;
  height: 90%;
}
@media (max-width: 766px){
  .referral{
    width: 100% !important;
    overflow: scroll !important;
  }
}
.referral label{
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: bold;
}
.referral input{
  border: 2px ridge #ff6600;
  margin-bottom: 30px;
}
.referral .referral-status{
  padding: 30px;
  background-color: #fff1e8;
}
.referral .referral-commission{
  padding: 30px;
  background-color: #fff1e8;
}

.request-payout{
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 40px;
  background-color: #fff1e8;
  margin-top: 50px;
  margin-bottom: 30px;
}

.request-payout p{
  font-size: 40px;
}
.request-payout span{
  color: #ff6600;
  font-size: 45px;
}
.request-payout button{
  background-color: #ff6600;
  font-weight: bold;
}

/*=======================
  WebSite
=======================*/
.website{
  position:fixed;
  overflow: hidden;
  right: 0;
  width: 75%;
  height: 90%;
  margin-top: 20px;
}
@media (max-width: 766px){
  .website{
    width: 100% !important;
    overflow:scroll !important;
     margin-top: 0;
  }
}
.website h5{
  font-size: 25px;
}

.website .form-control:focus{
  box-shadow: none;
}
.website .dropdown{
  text-align: center;
}
.website .dropdown button{
  font-weight: bold;
  margin-top: 10px;
}
.website .dropdown .dropdown-menu{
  font-size: 1em;
  border: .5px ridge #ff6600;
  background:url(../image/home_hr.png) #fff1e8;
  border-radius: 0;
}
.form-check-input{
  position: relative !important;
  cursor: pointer;
}
.web-content label{
  font-size: 1.5em;
  font-weight: 500;
  color: rgba(0,0,0,.7);
  margin-left: 5px;

}
.web-content .form-control{
  border:.5px solid #ff6600;
  border-radius: 0;
}

.web-content .form-control:focus{
  box-shadow: none;
}
.web-content .form-group{
  padding: 10px 10px;
}
.web-content .traffic-link{
  background-color: #fff1e8;
  margin: 10px 10px;
}
.submit{
  width: 20%;
  margin: 10px 10px 20px 10px;
}
/*footer*/

.user-footer {
  position: fixed;
  overflow: hidden;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 60px;
  background: linear-gradient(-45deg, #5900b3 33%, transparent 0%), 
  linear-gradient(-45deg, #512DA8 100%, transparent 33%);
}
.user-footer .about .fa{
  font-size: .8em;
  color: #ff6600;
}
.user-footer .social a{
  font-size: 1.2em;
    padding: 10px 5px;
    color: rgba(0,0,0,.7);
    font-weight: 300;
    text-decoration: none;
}
.user-footer ul li {
    list-style: none;
}
.user-footer ul li a {
    font-size: 1.2em;
    padding: 20px 15px;
    color: rgba(255,255,255,.7);
    font-weight: 300;
    text-decoration: none;
}
.user-footer .copyright {
    text-align: center;
    color: rgba(255,255,255,.7);
    font-weight: 300;
    font-size: 1.2em;
    margin: 15px 0 40px 0;
}
.user-footer a:hover{
  color: #ff6600;
}

.points_table_scrollbar{
  overflow-y: scroll;
}

.points_table_scrollbar::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 px rgba(0,0,0,0.9);
  border-radius: 0;
  background-color: #f2f2f2;
}

.points_table_scrollbar::-webkit-scrollbar{
  width: .5%;
  min-width: 2px;
  background-color: #F5F5F5;
}

.points_table_scrollbar::-webkit-scrollbar-thumb{
  border-radius: 0;
  background-color: #999999;
  background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent)
}